body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #343b42; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f262d,
    #343b42
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f262d, #343b42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
